/* groot scherm */
@media screen and (min-width: 768px) {
    body {
        background-color: rgb(0, 0, 0);
    }

    header h1 {
        color: red;
    }

    header {
        display: inline;
        margin-top: 5px;
    }

    header div {
        display: inline-block;
        margin-top: 1px;
    }

    header section {
        float: right;
    }

    header section div {
        border-radius: 0, 5px;
        border-color: rgb(255, 255, 255);
        border-style: solid;
        width: fit-content;
        padding: 5px;
        color: white;
    }


    div1 img {
        height: 430px;
    }

    div1 left {
        height: 430px;
        font-size: calc(10px + 1vw);
    }

    div1 left div {
        border-radius: 0, 5px;
        border-color: rgb(255, 255, 255);
        border-style: solid;
        width: auto;
        padding: 5px;
        color: white;
    }

    div1 left .info {
        margin-left: 15px;
    }

    div1 #info {
        font-size: calc(5px + 0.8vw);
    }
    main div1 img {
        padding-left: 1vw;
    }

    div2 div {
        padding-top: 10px;
    }

    div2 movie sec{
        background-color: white;
        height: 170px;
        display: block;
        max-width: 100%;
    }

}

/* medium scherm */
@media screen and (max-width: 768px) {
    body {
        background-color: rgb(0, 0, 0);
    }

    header h1 {
        color: red;
    }

    header {
        display: inline;
        margin-top: 5px;
    }

    header div {
        display: inline-block;
        margin-top: 1px;
    }

    header section {
        float: right;
    }

    header section div {
        border-radius: 0, 5px;
        border-color: rgb(255, 255, 255);
        border-style: solid;
        width: fit-content;
        padding: 5px;
        color: white;
    }


    div1 img {
        height: calc(100px + 10vw);
    }

    div1 left {
        /* height: 430px; */
        font-size: calc(10px + 1vw);
    }

    div1 left div {
        border-radius: 0, 5px;
        border-color: rgb(255, 255, 255);
        border-style: solid;
        width: 90%;
        padding: 5px;
        color: white;
    }

    div1 left .info {
        margin-left: 15px;
    }

    div1 #info {
        font-size: calc(5px + 0.8vw);
    }

    div1 divA div {
        display: none;
    }

    main div1 img {
        max-width: 50%;
    }

    div2 div {
        padding-top: 10px;
        padding-left: 10px
    }

    div2 movie sec{
        background-color: white;
        height: 170px;
        display: block;
        margin-left: 50px;
        max-width: 100%;
        margin-bottom: 10px
        /* width: 100vw; */
    }
}